doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Thank You
        link(rel="stylesheet" href="/css/styles1.css")
    body
        header
            h1 Thank You!
            nav
                a(href="/") Home
                a(href="/rents") Rent
                a(href="/about") About
                a(href="/contact") Contact

        main
            p Thank you for your review! We appreciate your feedback.
            a(href="/") Go back to homepage
